#associativity: 1
#blockSize: 32
#capacity: 8192
#hitTime: 1
#DRAMAccessTime: 100
#cacheMode_l1: unified
#allocOnWrMiss: true
#replaceAlg: LRU
#associativity_l2: 4
#blockSize_l2: 64
#capacity_l2: 262144
#hitTime_l2: 20
#cacheMode_l2: none
#allocOnWrMiss_l2: true
#replaceAlg_l2: LRU
## if l1 split, configure I here
#associativity_I: 1
#blockSize_I: 32
#capacity_I: 8192
#hitTime_I: 1
#allocOnWrMiss_I: true
#replaceAlg_I: LRU
## if l2 split, configure I here
#associativity_l2_I: 4
#blockSize_l2_I: 64
#capacity_l2_I: 262144
#hitTime_l2_I: 20
#allocOnWrMiss_l2_I: true
#replaceAlg_l2_I: LRU
#

# case 2
associativity: 2
blockSize: 32
capacity: 8192
hitTime: 1
DRAMAccessTime: 100
cacheMode_l1: split
allocOnWrMiss: true
replaceAlg: RND
associativity_l2: 8
blockSize_l2: 32
capacity_l2: 32768
hitTime_l2: 20
cacheMode_l2: unified
allocOnWrMiss_l2: true
replaceAlg_l2: RND
# if l1 split, configure I here
associativity_I: 1
blockSize_I: 32
capacity_I: 8192
hitTime_I: 1
allocOnWrMiss_I: true
replaceAlg_I: LRU
# if l2 split, configure I here
associativity_l2_I: 4
blockSize_l2_I: 64
capacity_l2_I: 262144
hitTime_l2_I: 20
allocOnWrMiss_l2_I: true
replaceAlg_l2_I: LRU

# case 3
#associativity: 4
#blockSize: 64
#capacity: 16384
#hitTime: 1
#DRAMAccessTime: 100
#cacheMode_l1: split
#allocOnWrMiss: true
#replaceAlg: LRU
#associativity_l2: 16
#blockSize_l2: 64
#capacity_l2: 65536
#hitTime_l2: 20
#cacheMode_l2: split
#allocOnWrMiss_l2: true
#replaceAlg_l2: LRU
## if l1 split, configure I here
#associativity_I: 1
#blockSize_I: 64
#capacity_I: 8192
#hitTime_I: 1
#allocOnWrMiss_I: true
#replaceAlg_I: LRU
## if l2 split, configure I here
#associativity_l2_I: 8
#blockSize_l2_I: 64
#capacity_l2_I: 32768
#hitTime_l2_I: 20
#allocOnWrMiss_l2_I: true
#replaceAlg_l2_I: LRU
#

# case 4
#associativity: 1
#blockSize: 32
#capacity: 16384
#hitTime: 1
#DRAMAccessTime: 100
#cacheMode_l1: split
#allocOnWrMiss: true
#replaceAlg: LRU
#associativity_l2: 4
#blockSize_l2: 64
#capacity_l2: 262144
#hitTime_l2: 20
#cacheMode_l2: unified
#allocOnWrMiss_l2: true
#replaceAlg_l2: LRU
## if l1 split, configure I here
#associativity_I: 1
#blockSize_I: 32
#capacity_I: 16384
#hitTime_I: 1
#allocOnWrMiss_I: true
#replaceAlg_I: LRU
## if l2 split, configure I here
#associativity_l2_I: 4
#blockSize_l2_I: 64
#capacity_l2_I: 262144
#hitTime_l2_I: 20
#allocOnWrMiss_l2_I: true
#replaceAlg_l2_I: LRU
#